nav{
	position: absolute;
	width: 1440px;
	height: 86px;
	left: 0px;
	top: 0px;
	background: #F9F9F9;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
}

#frame{
	position: absolute;
	width: 1440px;
	height: 86px;
	left: 0px;
	top: 0px;
}